/* Main Background Section */
.simple-background {
    position: relative; 
    background: url('/images/ats.jpg') no-repeat center center; 
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

/* Semi-Transparent Overlay */
.simple-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

/* Content on Top of the Overlay */
.content-overlay {
    position: relative; 
    z-index: 2; 
    text-align: center;
    padding: 20px;
}

.content-overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.content-overlay p {
    font-size: 1.5em;
}