<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraraq.net.nz/thymeleaf/layout">

<div th:fragment="header">
	<div align="center">
		<h1>Recruit ATS</h1>
	</div>
	<div class="bs-example">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a href=# class="navbar=brand">Recruit</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/login/" target="_blank">Login</a></li>
					<li><a href="/login/register" target="_blank">Register</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login/">Start Page</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<h2 th:text="${title}">This is some text</h2><br/>
	<img th:src="@{/images/file.jpg}" width="1000" height="350"><br/><br/>
</div>
				
				
<div th:fragment="footer">		
	<h5 style="color:blue; text-align: center;position: 0;width: 100%;" >Copyright 2025 RECRUIT ATS</h5>		
</div>
</html>

				
				