<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="layouts/defaultTemplate">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div layout:fragment="content" class="container mt-4">
        <h2 class="text-center mb-4">Job Applicants</h2>
        
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Phone Number</th>
                        <th class="text-center">Job History</th>
                        <th class="text-center">Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${applicants.empty}">
                        <td class="text-center" colspan="4">No Applicants</td>
                    </tr>
                    <tr th:each="applicant : ${applicants}">
                        <td class="text-center">
                            <a th:href="@{/applicants/{id}(id=${applicant.id})}" th:text="${applicant.name}" class="font-weight-bold"></a>
                        </td>
                        <td class="text-center" th:text="${applicant.phone}"></td>
                        <td class="text-center" th:text="${applicant.history}"></td>
                        <td class="text-center" th:text="${applicant.skills}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
