<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div layout:fragment="content" class="container">
    <h2 class="text-center">Job Listings</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Job Posting</th>
                        <th class="text-center">Employer Name</th>
                        <th class="text-center">Hourly Salary</th>
                        <th class="text-center">Openings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${products.empty}">
                        <td class="text-center" colspan="4">No Job Listings</td>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td class="text-center"><h5 th:text="${product.jobPosting}"></h5></td>
                        <td class="text-center"><h5 th:text="${product.employerName}"></h5></td>
                        <td class="text-center"><h5 th:text="${product.salaryHr}"></h5></td>
                        <td class="text-center"><h5 th:text="${product.openingsNo}"></h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>