<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .user-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .user-details div {
            flex: 1;
            padding: 10px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>Applicant Details</title>
    
</head>
<body>
    <h1>User Details</h1>
    <div class="user-details" th:if="${applicant != null}">
        <h3>Full Name: <span th:text="${applicant.name}"></span></h3>
        <p>Phone Number: <span th:text="${applicant.phone}"></span></p>
        <p>History: <span th:text="${applicant.history}"></span></p>
        <p>Skills: <span th:text="${applicant.skills}"></span></p>
    </div>
    <div th:if="${applicant == null}">
        <p th:text="${error}"></p>
    </div>
    <a href="/products">Back to Product Listings</a>
</body>
</html>